<h3>제가 만든 텔레그램 봇 목록입니다.</h3>
<p>현재 김결정 하나 있습니다.</p>

<h1>김결정 (@MrDecisionBot)</h1>
<p><a href="https://telegram.me/MrDecisionBot">친구 추가하기</a></p>
<p>
    "김결정이다.<br>
    말이 많진 않지만 결정적인 순간에 한마디 하는 성격이다.<br>
    귀찮으니깐 웬만하면 말 걸지 마라.<br>
    꼭 내가 결정해야겠는 일이 있으면 "김결정! 부먹 찍먹 중립" 이런 식으로 물어보도록.<br>
    잘 부탁한다."
</p>
<p>
    단체 채팅방 한 구석에 조용히 자리만 지키고 있다가 한번씩 뜬금포로 결정을 내려주는 봇입니다.<br>
    일대일 채팅용 봇으로 디자인되지 않았습니다.<br>
    대화를 주고 받는 봇으로 디자인되지도 않았습니다.<br>
    모든 인터랙션은 반말로만 이루어집니다.<br>
    친한 친구들끼리 모인 단체 채팅방에 초대해 두고 평소처럼 대화하세요.
</p>
<p>소스코드를 보시거나 사용상 이슈를 제보하시려면 깃허브로 오세요.<br>
<a href="https://github.com/jaewoongh/telegram-bots">https://github.com/jaewoongh/telegram-bots</a></p>