<!DOCTYPE html>
<html>
  <head>
    <!--<base href="/tb/">-->
    <title>{{title}}</title>
    <link rel='stylesheet' href='/tb/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
